# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
 - package-ecosystem: "devcontainers"
   directory: "/"
   schedule:
     interval: "monthly"
   labels:
   - "dependencies"
   - "devcontainers"
    
 - package-ecosystem: "pip"
   directory: "/azure_function"
   schedule:
     interval: "monthly"
   labels:
   - "dependencies"
   - "python"

 - package-ecosystem: "terraform"
   directory: "/terraform_infrastructure"
   schedule:
     interval: "monthly"
   labels:
    - "dependencies"
    - "terraform"

 - package-ecosystem: "github-actions"
   directory: "/"
   schedule:
     interval: "monthly"
   labels:
   - "dependencies"
   - "github-actions"